<h1>Create an Employee Account</h1>

<form action="/signup" method="post">
  <label for="username">Username:</label>
  <input id="username" type="text" name="theUsername"/>

  <label for="password">Password:</label>
  <input id="password" type="password" name="thePassword"/>

  <label for="email">Email:</label>
  <input id="email" type='text' name="theEmail"/>

  <label for="role">Employee Role:</label>
  <input id="role" type="text" name="theRole" />
  

  <button>Create Account</button>

</form>

{{#if errorMessage}}
<div>{{errorMessage}}</div>
{{/if}}
