<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="text-center">
        <img class="logo" src="images/logojlf.jpg" />
        <h1 class="main-title">{{title}}</h1>
        <h3>Employee Portal</h3>
      </div>
    </div>
  </div>
</div>

<!--Cards in middle of Page with Buttons-->
<div class="card container-fluid text-center">
  <div class='row'>
    <div class="col-sm-6">
      <div class="card-body">
        <h4 class="card-title">Login</h4>
        <p class="card-text">
          Click here to log into your account on the Company's employee website.
        </p>
        <a href="/login" class="btn btn-primary">Log-in!</a>
      </div>
    </div>
    <!--End of Login Card-->
    <div class="col-sm-6">
      <div class="card-body">
        <h4 class="card-title">Create Employee Account</h4>
        <p class="card-text">
          Click here to create an employee account on the Company's employee website.
        </p>
        <a href="/signup" class="btn btn-primary">Create an Employee Account</a>
      </div>
    </div>
    <!--End of Create EMployee Card-->
    <div class="col-sm-6">
      <div class="card-body">
        <h4 class="card-title">Create A New Client/Case</h4>
        <p class="card-text">
          Click here to create a new client/case inside the Company's client database.
        </p>
        <a href="/create/client" class="btn btn-primary">Create a new Client!</a>
      </div>
    </div>
    <!--End of create new Client Card-->
    <div class="col-sm-6">
      <div class="card-body">
        <h4 class="card-title">Create A New Payment Contract for an Existing Client</h4>
        <p class="card-text">
          Click here to create/modify a Contract for an Existing Client
        </p>
        <a href="#" class="btn btn-primary">View Contract Page</a>
      </div>
    </div>
    <!--End of Payment/Contract Card-->
    <div class="col-sm-6">
      <div class="card-body">
        <h4 class="card-title">View All Cases</h4>
        <p class="card-text">
          Click here to view all cases and filter cases via the Case Audit page.
        </p>
        <a href="/client/all" class="btn btn-primary">View Case Audit</a>
      </div>
    </div>
    <!--End of CaseType Audit card-->
    <div class="col-sm-6">
      <div class="card-body">
        <h4 class="card-title">View All Payments</h4>
        <p class="card-text">
          Click here to view all cases and filter cases via the Payment Audit page.
        </p>
        <a href="#" class="btn btn-primary">View Payment Audit</a>
      </div>
    </div>
    <!--End of payment Audit card-->
  </div> <!-- end of Bootstrap ROW-->
</div>
<!--End all Cards-->
<div class="container">
  <div class="row">
    <div class='disclaimer text-center'>
      NOTICE OF CONFIDENTIALITY: This website, and any information contained within, is intended for use only by authorized users of this website.
      Contents may contain confidential information, legally privileged information and attorney-client work product. If you are not an authorized user of this website, you are hereby notified that any
      dissemination, distribution or copying of information, and any attachments thereto, is strictly prohibited. If you have accessed this page in error,
      please notify the website administrator, Rodrigo Flores Salinas, Esq., by email, RodrigoFloresLaw@gmail.com, or telephone, 786-493-0922, and permanently delete any information obtained.
      The Law Offices of Jose L. Flores, P.A. reserves the right to litigate, both in Federal and State Court, to enforce the rights of its clients for any attempts or unauthorized access to its information stores.
    </div>
  </div>
</div>
