<h1>{{title}}</h1>
<p>{{title}}</p>

<a href='/login'>Click here to log in!</a>
<a href='/signup'>Click here to create an employee account</a>


<a href="/create/client">Click here to create a new client file</a>
