<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css' />
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" target="_blank" href="https://portal.eoir.justice.gov/Disclaimer">EOIR Online Portal</a>
        <a class="navbar-brand" target="_blank" href="https://www.aila.org/">AILA</a>
        <a class="navbar-brand" target="_blank" href="https://www.floridabar.org/">Florida Bar Online</a>
        <a class="navbar-brand" target="_blank" href="https://www.myflcourtaccess.com/">Florida E Filing Portal</a>
        <a class="navbar-brand" href="/logout">Logout: {{theUser.username}}</a>
      </nav>
    {{{body}}}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <script src='/javascripts/script.js'></script>
  </body>
</html>
