body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

// Beginning of styles for the index.hbs section of website
.logo{
  background-position: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-title{
  padding-top: 5px;
}

.disclaimer{
  padding-top: 30px;
}
//end of styles for index.hbs///////////////////////////////
// begin login styles//////////////////////////////////////
.login-hero{
  margin-bottom: 40px;
}
//end of login stylesheet
//begin create page styles///////////////////////////////////
.create-panel{
  background-position: center;
}
//end of create page stylesheet
//begin viewCase stylesheet
.edit-button a{
  color: white;
  text-decoration: none;
}

.edit-button{
  background-color: lightblue;
  margin-top: 20px;
}
//end viewcase styles
//begin spanish contract styling
#theContractText{
  font-size: 15px;
  margin-bottom: 30px;
  width: 800px;
}
//begin card page/view all cases styles
.card-styling{
  background-color: #053d60;
}
//end card styling
//begin carousel styles
.peopleCarouselImg img {
  width: auto;
  height: 500px;
  max-height: 500px;
}
//end
