<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="text-center">
        <img class="logo" src="../images/logojlf.jpg" />
        <h1 class="main-title">{{title}}</h1>
        <h3>Payment Index Page - Track Smarter Not Harder</h3>
      </div>
    </div>
  </div>
</div>

<!--Cards in middle of Page with Buttons-->
<div class="card container-fluid text-center">
  <div class='row'>
    <div class="col-sm-6">
      <div class="card-body">
        <h4 class="card-title">New Spanish Contract</h4>
        <p class="card-text">
          Click here to create a Spanish Retainer Agreement
        </p>
        <a href="/payments/new/spanish/contract" class="btn btn-primary">Create A Spanish Retainer Agreement</a>
      </div>
    </div>
    <!--End of Login Card-->
    <div class="col-sm-6">
      <div class="card-body">
        <h4 class="card-title">New English Contract</h4>
        <p class="card-text">
          Click here to create a new English Retainer Agreement
        </p>
        <a href="/payments/new/english/contract" class="btn btn-primary">Create an Engish Retainer Agreement</a>
      </div>
    </div>
    <!--End of Create EMployee Card-->
    <div class="col-sm-6">
      <div class="card-body">
        <h4 class="card-title">View Contract by Case ID</h4>
        <p class="card-text">
          Click here to view a particular contract utilizing a case ID
        </p>
        <a href="/create/client" class="btn btn-primary">View Contract for Client</a>
      </div>
    </div>
    <!--End of Create EMployee Card-->
    <div class="col-sm-6">
      <div class="card-body">
        <h4 class="card-title">View Contracts by Delinquent Payments</h4>
        <p class="card-text">
          Click here to view all contracts currently in delinquent status
        </p>
        <a href="/create/client" class="btn btn-primary">View Delinquent Contracts/Clients</a>
      </div>
    </div>
